[defaults]
collections_path = ./collections
roles_path = ./roles
host_key_checking = False
stdout_callback = default
retry_files_enabled = False
interpreter_python = auto_silent

[persistent_connection]
command_timeout = 60
connect_timeout = 60
